/*
Developer & Owner: МогучийДД (MoguchiyDD)
LICENSE: TEMPORARILY ABSENT

Goal: Creating Different Useful Short FUNCTIONS
Result: Created Different Useful Short FUNCTIONS

Past Modification: Editing The «MIXINS» BLOCK (ALL)
Last Modification: Editing The «MIXINS» BLOCK («indentationsBottom»)
Modification Date: 2023.12.30, 06:20 PM

Create Data: 2023.12.29, 04:29 PM
*/


// ------------ FUNCTIONS ------------

@function HexToRGB($hex) {
  @return rgb(red($hex), green($hex), blue($hex));
}

// -----------------------------------


// ------------- MIXINS --------------

@mixin sizeScreen($width, $height) {
  width: $width;
  height: $height;
}

@mixin indentations($margin: auto, $padding: 0em) {
  margin: $margin;
  padding: $padding;
}
@mixin indentationsBottom($margin: 0em, $padding: 0em) {
  margin-bottom: $margin;
  padding-bottom: $padding;
}

@mixin positionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}
@mixin positionTopRight($position, $top, $right) {
  position: $position;
  top: $top;
  right: $right;
}
@mixin positionBottomRight($position, $bottom, $right) {
  position: $position;
  bottom: $bottom;
  right: $right;
}

// -----------------------------------
