/*
Developer & Owner: МогучийДД (MoguchiyDD)
LICENSE: MIT License which is located in the text file LICENSE

Goal: Storing Useful VARIABLES
Result: Stored Useful VARIABLES

Past Modification: Editing The «colors» VOCABULARY (TEXT)
Last Modification: Editing The «size» VOCABULARY (HD)
Modification Date: 2023.12.30, 12:26 PM

Create Data: 2023.12.29, 04:29 PM
*/


// ------------ MAIN ------------

$height: 1000em;
$colors: (
  "background": #EEE,
  "white": #FFF,
  "yellow": #D7A830,
  "text": #0B0B0B,

  "dark-linear-one": #101010,
  "dark-linear-two": #0B0B0B,

  "light-yellow-radial-one": #FAE571,
  "light-yellow-radial-two": #0B0E17
);
$size: (
  "hd-p": 1.25em,
  "hd-btn": 1.00em
)

// ------------------------------
