@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 28px;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(37 99 235) 0%, rgb(37 99 235) 0%, rgb(191 219 254) 0%, rgb(191 219 254) 100%);
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgb(37 99 235);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgb(37 99 235);
  cursor: pointer;
}
