/* Primary */
$darkPrimaryMain: #212121;
$darkPrimaryMain06: rgba(33, 33, 33, 0.6);
$darkPrimaryBlocks: #424242;
$darkPrimaryToggleBackground: #757575;

/* Secondary */
$darkSecondaryMain: #009688;

/* Text */
$darkText100: #FAFAFA;
$darkText300: #E0E0E0;
$darkTextBlack: #030609;

