/*
Developer & Owner: МогучийДД (MoguchiyDD)
LICENSE: MIT License which is located in the text file LICENSE

Goal: Stylize OBJECT of SURPRISE
Result: Stylized OBJECT of SURPRISE

Past Modification: Adding The «BOTTOM» BLOCK
Last Modification: Editing The «TOP» BLOCK (SIZE && BUTTON)
Modification Date: 2023.12.30, 02:37 PM

Create Data: 2023.12.29, 05:41 PM
*/


@import "important/vocabulary";
@import "important/funmix";


// ------------- MAIN -------------

figure {
  @include indentations(0em);
}

// --------------------------------


// ------------- TOP --------------

.surprise-top {
  @include sizeScreen(100%, 54px);
  @include indentations(2em auto 0);
  background:
    linear-gradient(
      to right,
      rgba(HexToRGB(map-get($colors, "dark-linear-one")), 1),
      rgba(HexToRGB(map-get($colors, "dark-linear-two")), 0.70)
    ),
    radial-gradient(
      ellipse farthest-side at top center,
      HexToRGB(map-get($colors, "light-yellow-radial-one")) 10%,
      HexToRGB(map-get($colors, "light-yellow-radial-two")) 80%
    );

  p {
    @include indentations(0em auto, 0.59em);
    font-size: map-get($size, "hd-p");
    color: map-get($colors, "background");
    text-align: center;

    span {
      &.yellow {
        color: map-get($colors, "yellow");
      }
      &.gray {
        color: rgba(HexToRGB(map-get($colors, "white")), 0.37);
      }
    }
  }

  #btn {
    @include sizeScreen(8%);
    @include indentations($padding: 0.35em 0.75em);
    @include positionTopRight(absolute, 2.5em, 3em);
    font-size: map-get($size, "hd-btn");
    color: map-get($colors, "text");
    background: map-get($colors, "white");
    border: 1px solid map-get($colors, "white");
    border-radius: 5em;

    &:hover {
      font-weight: bold;
    }
  }

  img {
    @include sizeScreen(30.5em);
    @include positionTopLeft(absolute, -12px, -37px);
    clip: rect(44px, 227px, 98px, 37px);
  }
}

// --------------------------------


// ------------ BOTTOM ------------
// --------------------------------
