/*
Developer & Owner: МогучийДД (MoguchiyDD)
LICENSE: MIT License which is located in the text file LICENSE

Goal: Stylize OBJECT of SURPRISE
Result: Stylized OBJECT of SURPRISE

Past Modification: Editing The «TOP» BLOCK (SIZE && BUTTON)
Last Modification: Adaptation for 1920px screens («TOP» && «BOTTOM»)
Modification Date: 2023.12.30, 06:24 PM

Create Data: 2023.12.29, 05:41 PM
*/


@import "important/vocabulary";
@import "important/funmix";


// ------------- MAIN -------------

figure {
  @include indentations(0em);
}

// --------------------------------


// ------------- TOP --------------

.surprise-top {
  @include sizeScreen(100%, 54px);
  @include indentations(2em auto 0em);
  background:
    linear-gradient(
      to right,
      rgba(HexToRGB(map-get($colors, "dark-linear-one")), 1),
      rgba(HexToRGB(map-get($colors, "dark-linear-two")), 0.70)
    ),
    radial-gradient(
      ellipse farthest-side at top center,
      HexToRGB(map-get($colors, "light-yellow-radial-one")) 10%,
      HexToRGB(map-get($colors, "light-yellow-radial-two")) 80%
    );

  p {
    @include indentations(0em auto, 0.8em);
    font-size: map-get($size, "fhd-p");
    color: map-get($colors, "white");
    text-align: center;

    span {
      &.yellow {
        color: map-get($colors, "yellow");
      }
      &.gray {
        color: rgba(HexToRGB(map-get($colors, "white")), 0.37);
      }
    }
  }

  #btn {
    width: 8%;
    @include indentations($padding: 0.35em 0.75em);
    @include positionTopRight(absolute, 2.7em, 3em);
    font-size: map-get($size, "fhd-text");
    color: map-get($colors, "text");
    background: map-get($colors, "white");
    border: 1px solid map-get($colors, "white");
    border-radius: 5em;

    &:hover {
      font-weight: bold;
    }
  }

  img {
    width: 30.5em;
    @include positionTopLeft(absolute, -12px, -37px);
    clip: rect(44px, 227px, 98px, 37px);
  }
}

// --------------------------------


// ------------ BOTTOM ------------

.surprise-bottom {
  @include indentations(0em 2em 2em 0em);
  @include positionBottomRight(fixed, 0em, 0em);

  img {
    width: 100%;
  }

  #right {
    @include positionBottomRight(absolute, 3em, 2em);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    p {
      @include indentations(0em);
  
      &#header {
        @include indentationsBottom($padding: 0.6em);
        font-size: map-get($size, "fhd-h1");
        color: map-get($colors, "white");
      }
  
      &#percent {
        @include indentationsBottom($padding: 0.5em);
        font-size: map-get($size, "fhd-h2");
        background: linear-gradient(to right, #7D5317, #EDDF95);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      &#code {
        @include indentationsBottom($padding: 2.92em);
        font-size: map-get($size, "fhd-text");
        color: #6C6C70;
  
        span.yellow {
          color: map-get($colors, "yellow");
        }
      }
    }
  
    #btn {
      width: 94%;
      @include indentations($padding: 0.75em 1.5em);
      font-size: map-get($size, "fhd-text");
      color: map-get($colors, "white");
      background-color: #333;
      border: 1px solid #333;
      border-radius: 5em;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

// --------------------------------
