@import "./mcard";
@import "../../../_/indents";
@import "../../../_/colors";
@import "../../../_/border-radiuses";
@import "../../../_/animations";


.skeleton-todo-card {
  background: $darkPrimaryBlocks;
  @include border-radius-025();

  .skeleton-card-title-status {
    margin-bottom: $indent075;  /* 12px */
    display: flex;

    .skeleton-card-title, .skeleton-card-status {
      background-color: $darkPrimaryToggleBackground;
    }
    .skeleton-card-title {
      width: 75%;
      margin-right: 1rem;  /* 16px */
      @include border-radius-025();
      @include animation-pulse();
    }
    .skeleton-card-status {
      width: 25%;
      @include border-radius-full();
      @include animation-pulse();
    }
  }
  .skeleton-card-description {
    margin-bottom: $indent125;  /* 20px */
    background-color: $darkPrimaryToggleBackground;
    @include border-radius-025();
    @include animation-pulse();
  }
  .skeleton-card-btns {
    display: flex;
    justify-content: space-between;
    
    .skeleton-card-btn {
      background-color: $darkPrimaryToggleBackground;
      @include border-radius-025();
      @include animation-pulse();
    }
  }
}
