{% load draw_menu %}

<header>
    <nav>
        {{ parents }}
        <ul class="topmenu">
            {% for m in menu %}
                {% with next_parent=menu|next:forloop.counter0 %}
                    {% with previous_parent=menu|previous:forloop.counter0 %}
                        {% if m.parent is None %}
                            {% if next_parent is not None and m.status is True %}
                                <li>
                                    <a class="active submenu-link" href="{% url m.slug %}">{{ m.title }}</a>
                            {% elif next_parent is not None and m.status is False %}
                                <li>
                                    <a class="submenu-link" href="{% url m.slug %}">{{ m.title }}</a>
                            {% elif next_parent is None and m.status is True %}
                                <li>
                                    <a class="active" href="{% url m.slug %}">{{ m.title }}</a>
                                </li>
                            {% elif next_parent is None and m.status is False %}
                                <li>
                                    <a href="{% url m.slug %}">{{ m.title }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if previous_parent is None %}
                                {% with list_parents=menu|parents:forloop.counter0 %}
                                    {% for list in list_parents %}
                                        {% with next_parent_list=list_parents|next:forloop.counter0 %}
                                            {% with is_new_ul=list_parents|queue:forloop.counter0 %}
                                                {% if is_new_ul.0 is True %}
                                                    <ul class="submenu">
                                                    {% if next_parent_list != list.parent and list.status is True %}
                                                        <li>
                                                            <a class="active submenu-link" href="{% url m.slug %}">{{ m.title }}</a>
                                                    {% elif next_parent_list != list.parent and list.status is False %}
                                                        <li>
                                                            <a class="submenu-link" href="{% url m.slug %}">{{ m.title }}</a>
                                                    {% elif next_parent_list == list.parent and list.status is True %}
                                                        <li>
                                                            <a class="active" href="{% url list.slug %}">{{ list.title }}</a>
                                                        </li>
                                                    {% elif next_parent_list == list.parent and list.status is False %}
                                                        <li>
                                                            <a href="{% url list.slug %}">{{ list.title }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% elif is_new_ul.0 is False %}
                                                    {% for ul in is_new_ul %}
                                                        </ul>
                                                        </li>
                                                    {% endfor %}
                                                    {% if list.status is True %}
                                                        <li>
                                                            <a class="active" href="{% url list.slug %}">{{ list.title }}</a>
                                                        </li>
                                                    {% elif list.status is False %}
                                                        <li>
                                                            <a href="{% url list.slug %}">{{ list.title }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% elif is_new_ul.0 is None %}
                                                    {% if list.status is True %}
                                                        <li>
                                                            <a class="active" href="{% url list.slug %}">{{ list.title }}</a>
                                                        </li>
                                                    {% elif list.status is False %}
                                                        <li>
                                                            <a href="{% url list.slug %}">{{ list.title }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                                {% if forloop.last %}
                                                    {% with is_ul=0|is_queue %}
                                                        {% for ul in is_ul %}
                                                            </ul>
                                                        {% endfor %}
                                                    {% endwith %}
                                                {% endif %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endwith %}
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </ul>
    </nav>
</header>
