@import './../../../scss/vars.scss';
@import '../../../scss/varsmedia.scss';

.modal {
  z-index: 100;
  width: $pr100;
  height: $pr100;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba($dark-color, 0.5);
  overflow-y: auto;
}
.modal-content {
  margin: $pr10 auto;
  padding: $size20;
  width: $pr70;
  background-color: $light-color;
  border: 0.1rem solid $table-border-color;
  border-radius: $size4;
  box-shadow: 0 $size4 $size16 rgba($dark-color, 0.3);

  p#info-clipboard {
    font-size: $size12;
    color: $main-color;
  }

  form {
    display: flex;
    flex-direction: column;

    .inputs {
      display: flex;
      justify-content: space-between;

      input {
        margin-right: $size8;
        width: $pr100;
      }
    }

    label {
      padding-bottom: $size4;
      font-size: $size12;
      font-weight: bold;

      &:first-child {
        padding-top: $size16;
      }
    }

    input {
      font-size: $size12;
    }

    button {
      background-color: $main-color;
      border: $size1 solid $main-color;
      border-radius: $size4;

      &:hover {
        background-color: mix($main-color, $dark-color, $pr60);
        border-color: mix($main-color, $dark-color, $pr60);
      }
    }

    button#add-save {
      margin-top: $size16;
      padding: $size12;
      font-size: $size12;
      font-weight: bold;
      text-transform: uppercase;
      color: $light-color;
      
    }
  }
}
.close {
  margin-top: -$size20;
  margin-right: -$size12;
  color: rgba($dark-color, 0.6);
  float: right;
  font-size: $size28;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: $dark-color;
}


@media screen and (max-width: $media640) {
  .modal-content {
    margin: 0;
    width: $pr100;
  }
}
@media screen and (min-width: $media640) and (max-width: $media1024) {
  .modal-content {
    margin: $size16 auto;
    width: $pr80;
  }
}
@media screen and (min-width: $media1024) and (max-width: $media1280){
  .modal-content {
    margin: $size16 auto;
    width: $pr60;
  }
}
@media screen and (min-width: $media1280) {
  .modal-content {
    margin: $size40 auto;
    width: $pr30;
  }
}
