@import './vars.scss';

table {
  padding-bottom: $size16 !important;
  padding-right: $size16 !important;
  width: 100%;
  max-height: 74%;
  display: block;
  background-color: transparent;
  border-collapse: collapse;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;

  th,
  td {
    font-size: $size12;
    text-align: left;
    
    &:not(:first-child) {
      border: $size2 solid $table-border-color;
    }
    &:first-child {
      border-bottom: $size2 solid $table-border-color;
    }
  }
  th {
    padding: $size16 $size12;
    font-weight: bold;
    text-transform: inherit;
    letter-spacing: 1px;
    background-color: $main-color;

    &:first-child {
      z-index: 15;
      position: sticky;
      left: 0;

      &::after {
        content: "";
        width: $size1;
        height: 100%;
        background-color: $table-border-color;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  td {
    padding: $size8 $size12;
    color: $dark-color;

    a {
      color: $main-color;

      &:hover {
        color: mix($main-color, $dark-color, 60%);
      }
    }
  }

  thead {
    z-index: 10;
    color: $light-color;
    background-color: $main-color;
    position: sticky;
    top: 0;

    th {
      &:first-of-type {
        border-top-left-radius: $size4;
      }
      &:last-of-type {
        border-top-right-radius: $size4;
      }
    }
  }

  tbody {
    width: 100%;

    tr {
      background-color: $table-color;

      &:hover {
        background-color: mix($light-color, $dark-color, 90%);

        td:first-child {
          background-color: mix($light-color, $dark-color, 90%);
        }
      }
      &:last-of-type {
        z-index: 10;
        height: $size40;
        background-color: $main-color;
        position: sticky;
        bottom: -$size16;

        &::after {
          content: "";
          width: $size1;
          height: 100%;
          background-color: $table-border-color;
          position: absolute;
          top: 0;
          right: 0;
        }
       
        td {
          &:first-of-type {
            background-color: $main-color;
            border-bottom-left-radius: $size4;
          }
          &:last-of-type {
            border-bottom-right-radius: $size4;
          }
        }
      }

      td {
        &:first-child {
          z-index: 5;
          font-weight: bold;
          color: $dark-color;
          background-color: $table-color;
          position: sticky;
          left: 0;

          &::after {
            content: "";
            width: $size1;
            height: 100%;
            background-color: $table-border-color;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        &:last-child {
          color: $main-color;
          font-weight: bold;
        }
      }
    }
  }
}


/* Scroll */
::-webkit-scrollbar {
  width: $size8;
  height: $size8;
}
::-webkit-scrollbar-thumb {
  background-color: $scroll-color;
  border-radius: $size4;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: mix($scroll-color, $dark-color, 90%);
}
