@import './vars.scss';

/** Это пример */

table {
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

table thead {
  background-color: $main-color;
  color: white;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e9eff7;
}

table th {
  background-color: $main-color;
  text-transform: uppercase;
  letter-spacing: 1px;
}

table td {
  color: #555;
}

table tbody tr td:first-child {
  font-weight: bold;
  color: #333;
}

table tbody tr td:last-child {
  color: $main-color;
  font-weight: bold;
}
