@import './vars.scss';

.svb-button {
  font-size: $size12;
  line-height: $size14;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $size4 $size12;
  border: $size2;
  border-style: solid;
  border-color: $main-color;
  position: relative;
  background-color: $main-color;
  color: $light-color;
  border-radius: $size2;
  cursor: pointer;
  transition:
    $seconds0-16 background-color,
    $seconds0-16 border-color;

  &:hover {
    background-color: $main-hover-color;
    border-color: $main-hover-color;
  }

  &.selected {
    background-color: $selected-color;
  }
}

.svb-button--red {
  border-color: $red-color;
  background-color: $red-color;

  &:hover {
    border-color: $red-hover-color;
    background-color: $red-hover-color;
  }
}

.loader {
  background-color: $loader-color;
  background-image: url('../img/loader.gif');
  background-position: $pr50 $pr50;
  background-repeat: no-repeat;
  z-index: 9999;
}

input {
  font-size: $size14;
  line-height: 1.3;
  font-weight: 400;
  display: block;
  padding: $size4 $size8;
  color: $input-color;
  background-color: $light-color;
  background-clip: padding-box;
  border: 1px solid $light-border-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: $size2;
  transition:
    border-color $seconds0-18 ease-in-out,
    box-shadow $seconds0-18 ease-in-out;

  &[type='checkbox'] {
    display: inline-block;
    padding: $size8;
    width: auto !important;
    height: auto !important;
  }
  &[type='checkbox']:checked {
    background-color: $checkbox-color;
    border-color: $checkbox-color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }
  &:focus,
  &:active {
    border-color: $checkbox-color;
    outline: 0;
    box-shadow: 0 0 0 $size2 $shadow-color;
  }
}

select {
  font-size: $size13-5;
  line-height: 1;
  font-weight: 400;
  display: block;
  width: $pr100;
  padding: $size4 $size8;
  color: $input-color;
  background-color: $light-color;
  border: $size1 solid $light-border-color;
  border-radius: $size4;
  transition:
    border-color $seconds0-18 ease-in-out,
    box-shadow $seconds0-18 ease-in-out;
}

select:focus,
.select:active {
  border-color: $focus-color;
  outline: 0;
  box-shadow: 0 0 0 $size4 $shadow-color;
}

.page-sidebar {
  height: $pr100;
  padding: $size16 $size28;
  background: $light-color;
  border-right: $size1 solid $slider-border-color;
}

.svb-toolbar {
    display: flex;
    gap: $size8;
}
