.svb-panel {
    display: grid;
    grid-template-areas:
        "header"
        "body"
        "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}

.svb-panel__body {
    position: relative;
    grid-area: body;
    max-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    overflow: auto;
}

.svb-panel__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0;
}

.svb-panel__sidebar {
    order: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
    min-width: 150px;
    width: 280px;
    max-width: 60%;
    overflow-y: auto;
    row-gap: 8px;
}

.svb-panel__content {
    order: 1;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f3f4f6;
}

.svb-panel__table-toolbar {
    padding: 16px 28px;
    flex: 0 0 auto;
    border-bottom: 1px solid #d1d5db;
}

.svb-panel__table-wrapper {
    padding: 16px 28px;
    flex: 1 1 auto;
    border-bottom: 1px solid #d1d5db;    
}

.svb-panel__table-pagination {
    padding: 16px 28px;
    flex: 0 0 auto;
}