$main-color: #00A0E3;
$main-hover-color: #0078BE;
$table-color: #FFF;
$table-border-color: #DEE4E8;
$close-color: #555;
$light-color: #FFF;
$light-border-color: #CED4DA;
$dark-color: #000;
$red-color: #d52222;
$red-hover-color: #9d1313;
$scroll-color: #9CA3AF;
$selected-color: #FF7F50;
$loader-color: #00000020;
$input-color: #1C1819;
$checkbox-color: #036958;
$shadow-color: #0D6EFD40;
$focus-color: #86B7FE;
$slider-border-color: #D1D5DB;
$header-border-color: #00416633;
$logout-color: #667985;
$menu-item-color: #F3F4F6;
$pagination-item-color: #1F2937;
$pagination-item-active-color: #00426912;
$pagination-img-color: #00395C;

$size0-16: 0.01rem;  /* 0.16px */
$size1: 0.1rem;  /* 1.6px */
$size2: 0.125rem;  /* 2px */
$size4: 0.25rem;  /* 4px */
$size5-6: 0.35rem;  /* 5.6px */
$size8: 0.5rem;  /* 8px */
$size10: 0.625rem;  /* 10px */
$size12: 0.75rem;  /* 12px */
$size13: 0.8125rem;  /* 13px */
$size13-5: 0.84375rem;  /* 13.5px */
$size14: 0.875rem;  /* 14px */
$size16: 1rem;  /* 16px */
$size17: 1.0625rem;  /* 17px */
$size18: 1.125rem;  /* 18px */
$size20: 1.25rem;  /* 20px */
$size24: 1.5rem;  /* 24px */
$size28: 1.75rem;  /* 28px */
$size40: 2.5rem;  /* 40px */
$size48: 3rem;  /* 48px */

$fr1: 1fr;

$pr10: 10%;
$pr50: 50%;
$pr60: 60%;
$pr62: 62%;
$pr70: 70%;
$pr80: 80%;
$pr87: 87%;
$pr90: 90%;
$pr100: 100%;

$vh100: 100vh;

$px150: 150px;
$px280: 280px;

$deg180: 180deg;

$seconds0-16: 0.16s;
$seconds0-18: 0.18s;
